.mm_btn {
    font-size: 24px !important;
}

#cardProgressBar {
    margin-bottom: 25px;
    margin-top: 15px;
}

.mm-open-civit.card-button {
    filter: drop-shadow(2px 2px 3px black);
    display: flex;
    align-items: center;
}

.mm-open-civit.card-button:hover svg {
    fill: blue !important;
}